@import url(sanitize.css);

/* iOSのボタンが角丸グラデーションになるのをリセット */
input[type="button"] {
  -webkit-appearance: none;
}

/* ダブルタップでズーム無効 */
html {
  touch-action: manipulation;
}

/* 入力フォーカス時に外枠をつけない */
input:focus {
  outline: none;
}

/* アプリ全体 */
.app {
  display: flex;
  justify-content: flex-start;
}

/* コンテナ 
   基本的に900pxで1列。
   index.htmlのキャンバスサイズと合わせる。
*/
.container {
  margin: 0 10px;
}
.container.draw{
  width: 900px;
}
.container.chat{
  width: 100%;
  max-width: 900px;
}

/* レスポンシブ
   スクリーンが1500px未満はコンテナ1列表示
*/
@media screen and (max-width: 1500px) {
  .app {
    flex-direction: column;
    align-items: center;
  }
  .container.chat{
    width: 900px;
  }
}

/* 操作 */
.controls {
  padding: 10px;
}

/* 色 */
.colors {
  display: inline;
}

.color {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 1px gray;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-color: white; }

/* ボタン */
.btn {
  float: right;
  width: 100px;
  height: 60px;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  border-radius: 30px;
  border: none;
}
.btn:active {
  opacity: 50%;
}

#clear {
  background-color: orange;
}

/* キャンバス */
.whiteboard {
  box-shadow: 0px 0px 5px 1px gray;
}

/* プレイヤー */
#players {
  margin-top: 10px;
}

.player {
  display: inline-block;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 10px;
  margin: 2px 2px;
  line-height: 30px;
}

/* チャット */
.send {
  padding: 10px 0;
}

#send_text {
  /*
    送信ボタンの横幅を引いたサイズに動的に計算
    ボタンwidth:100、.sendのpadding:10*2、#send_textのpadding:20px、入力欄とボタンの隙間10px
  */
  width: calc(100% - 100px - 4px);
  height: 60px;
  border-radius: 30px;
  padding: 0 20px;
  border: solid 2px #999999;
  font-size: 42px; /* 42px未満だとiOSでフォーカスした時にズームしてしまう */
}

#send_btn {
  background-color: tomato;
}

.message {
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 2em;
}

.msg_name {
  font-weight: bold;
}

.msg_timestamp {
  color: gray;
  font-size: 0.5em;
}

/* 入室 */
#enter_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: red;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  opacity: 100%;
  transition-duration: 0.5s;
}

#enter_title {
 font-size: 2.5em;
}
#enter_text {
  width: 500px;
  height: 60px;
  border-radius: 30px;
  font-size: 2.8em;
  border: none;
  text-align: center;
  margin: 20px;
}

#enter_btn {
  display: inline-block;
  background-color: tomato;
  width: 500px;
  line-height: 60px;
  font-size: 2.8em;
  color: #fff;
  border-radius: 30px;
  padding: 0 10px;
  text-align: center;
  border: none;
}
