* {
  margin: 0px;
  padding:0px;
}

html {
  touch-action: manipulation;
}

input:focus {
  outline: none;
}

#app {
  margin: 0 auto;
  padding: 0;
  width: 900px; /*htmlのcanvasのwidthと同期を取る事*/
}

/**
 * キャンバス
 */

.whiteboard {
  display: block;
  width: 100%;
  box-shadow: 0px 0px 5px 1px gray;
}

/**
 * 操作
 */
.controls {
  padding: 10px;
}

.colors {
  display: inline;
}

.color {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 1px gray;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-color: white; }

#clear {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  background-color: #248;
  width: 100px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  border-radius: 25px;
}
#clear:active {
  background-color: #AAA;
}

/**
 * プレイヤーリスト
 */
#players {
  margin-top: 10px;
}

.player {
  display: inline-block;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 10px;
  margin: 2px 2px;
  line-height: 30px;
}

/**
 * 発言
 */
#send {
  display: block;
  padding: 10px;
}

#send_text {
  /*
    送信ボタンの横幅を引いたサイズに動的に計算
    ボタンwidth:100, 入力欄padding:20*2, div"send"のpadding:5*2
  */
  width: calc(100% - 100px - 40px - 10px);
  height: 60px;
  border-radius: 30px;
  padding: 0 20px;
  border: solid 2px #999999;
  font-size: 42px; 
}

#send_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  background-color: tomato;
  width: 100px;
  height: 64px; /*入力欄のborder2*2px追加*/
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  border-radius: 32px;
}
#send_btn:active {
  background-color: #AAA;
}

/**
 * メッセージ
 */
.message {
  border-radius: 10px;
  text-align: left;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 2em;
}

.msg_name {
  font-weight: bold;
}

.msg_timestamp {
  color: gray;
  font-size: 0.5em;
}

/**
 * 入室
 */
 #enter_div {
   position: fixed;
   background-color: red;
   width: 100%;
   height: 100%;
   z-index: 100;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 100%;
   transition-duration: 0.5s;
 }

 #enter_title {
  font-size: 2em;
}
 #enter_text {
   width: 500px;
   height: 60px;
   border-radius: 30px;
   font-size: 42px;
   padding: 0 10px;
   border: none;
   text-align: center;
   margin: 20px;
 }

 #enter_btn {
   display: inline-block;
   background-color: tomato;
   width: 500px;
   line-height: 60px;
   font-size: 2em;
   color: #fff;
   border-radius: 30px;
   padding: 0 10px;
   text-align: center;
 }
